---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Siddharth Doshi">
  <main
    class="container mx-auto w-full h-full flex die justify-center items-center"
  >
    <div class="container flex flex-col justify-center items-center">
      <h1 class="text-xl sm:text-4xl md:text-6xl">Siddharth Doshi</h1>
      <div>
        <p class="w-6">
          <Icon name="mdi:account" />
        </p>
      </div>
    </div>
  </main>
</Layout>
