{% extends "base.html" %}

{% block content %}
{% set blog = get_section(path="blog/_index.md") %}
{% if blog.pages %}
<ul class="post-list">
  {% for page in blog.pages %}
  <li>
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    <time datetime="{{ page.date }}">{{ page.date | date(format="%b %d, %Y") }}</time>
  </li>
  {% endfor %}
</ul>
{% set tags = get_taxonomy(kind="tags") %}
{% if tags.items | length > 0 %}
<a href="{{ get_url(path='tags') }}" class="all-tags">all tags &rarr;</a>
{% endif %}
{% endif %}
{% endblock %}
